{% extends 'base.html' %}

{% block title %}
    FAQ
{% endblock title %}


{% block styles %}
    {{ block.super }}
{% endblock styles %}


{% block scripts %}
    {#    {{ block.super }}#}
{% endblock scripts %}

<body data-spy="scroll" data-target=".subnav" data-offset="50">


{% block header %}
{% endblock header %}


{% block menu %}
    {% include "tabs.html"  %}
{% endblock menu %}


{%  block content %}

    <div align="center" style="padding-bottom: 50px">
        <h1>Frequently Asked Questions</h1>
    </div>

    <div class="well">
        <h4> What is your policy on snow storms and inclement weather?</h4>
        The centre reserves the right to close due to inclement weather or
        problems with the facility. We strive to stay open whenever possible.
        In the case of inclement weather, we urge you to pick your child up as soon as possible for travelling safely.
        If the centre feels the need to close early you will be contacted at your place of work by telephone.
        If the centre closes for the day, which is very rare, an announcement will be made on the radio stations before
        7:00 am. if in doubt call to make sure an Early Childhood Educator is here.
    </div>

    <div class="well">
        <h4>What happens if my child doesn’t like what is served for lunch?</h4>
        We provide lunch and two snacks daily. All meals and snacks are based on the Canada Food Guide. The children are encouraged to try new foods, and encouraged to eat the foods on our menu. Birthdays are Special Days, we will provide a cake for each child if they attend on the day of their birthday.
    </div>

    <div class="well">
        <h4>Does everyone have to sleep at rest time?</h4>
        No. Children are required to rest quietly on a mat for one half hour. Many children fall asleep after a busy morning so you should feel free to discuss your wishes with a staff member regarding sleep.
    </div>

    <div class="well">
        <h4>Will you help toilet train my child when he/she is ready?</h4>
        Yes. We feel this works best when followed consistently both at home and with us. Please feel free to discuss what works for you at home so we can work as a team to help your child be successful.
    </div>

    <div class="well">
        <h4>What is your termination policy?</h4>
        Two weeks notice is required to terminate a space in the centre.
    </div>

    <div class="well">
        <h4>What if I am running late?</h4>
        Late fees apply after 5:30 p.m. @ $1.00 per minute paid to the Early Childhood educator that is waiting with your child.
    </div>

    <div class="well">
        <h4>What if I am not able to pick my child up and need to send someone else to pick my child up?</h4>
        If someone other than a parent is dropping off or picking up your child, it is necessary for you to call and tell us who and what time they will be picking up your child.
    </div>

    <div class="well">
        <h4>What do I need to bring to the centre?</h4>
        When purchasing clothing please consider that your child will be encouraged to dress and undress themselves as much as possible. Please label outdoor clothing. Shoes without laces are recommended.
        <ol>
            <li>Indoor footwear.</li>
            <li>Small lightweight blanket for rest.</li>
            <li>Hair brush and extra clips if needed.</li>
            <li>Complete change of clothes. Labeled to be kept in a plastic bag on their hook.</li>
            <li>Package of disposable diapers and wipes to be kept here; your child will be changed at the change
                table according to proper procedure. We will tell you when they need more diapers.
            </li>
        </ol>
    </div>

    <div class="well">
        <h4>What is the age range of children at your centre?</h4>
        We welcome children from infancy to school age to the centre.
    </div>

    <div class="well">
        <h4>Will you administrate medications to my child?</h4>
        Just For You staff will only administer medication with a signed consent form from the parents. This includes prescription medication, tylenol, aspirin, cough medicine, etc. All medication must be in original container with your child’s name on it.  Please hand all medication to a Early Childhood Educator. DO NOT leave medication in children’s kit bags.
    </div>

    <div class="well">
        <h4>What is your discipline policy?</h4>
        Our Behavior Management Policy involves reinforcement of positive behavior. If it becomes necessary to enforce our policy with a child, we subscribe to the practice of child guidance and calmly explain to the child why their behavior is inappropriate. At times it may be necessary to give a child the opportunity to have quiet time alone to reflect on their behavior. Our centre has a “Hands Off Policy” - this means no hitting, pushing or pinching (in essence no putting your hands on another person’s body). We teach the children not to hurt themselves, others or the things around them.
    </div>
{% endblock content %}

