{% extends 'base.html' %}

<!-- Bootstrap Core CSS -->
{#removed the {{ STATIC_URL }} because it broke things in prod#}
<link href="/static/startbootstrap-business-casual-1.0.4/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/static/startbootstrap-grayscale-1.0.6/css/grayscale.css" rel="stylesheet">
<link href="/static/startbootstrap-agency-1.0.6/css/agency.css" rel="stylesheet">
<link href="/static/startbootstrap-business-casual-1.0.4/css/business-casual.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->



{% block menu %}
    {% include "tabs.html"  %}
{% endblock menu %}

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Just For You</h1>
                    <p class="intro-text">Children's Center</p>
{#                    <a href="#about" class="btn btn-circle page-scroll">#}
{#                        <i class="fa fa-angle-double-down animated"></i>#}
{#                    </a>#}
                </div>
            </div>
        </div>
    </div>
</header>


{% block content %}

    <section id="carousel" class="content-section text-center">
        <div class="container box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="1" ></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" ></li>
                        <li data-target="#carousel-example-generic" data-slide-to="0" ></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item ">
                            <img class="img-responsive img-full" src="/static/images/new_pics/sun.JPG" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="/static/images/just_4_you_poster.jpg" alt="">
                        </div>
                        <div class="item active">
                            <img class="img-responsive img-full active" src="/static/images/new_pics/art.JPG" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <h2 class="brand-before">
                    <small>Welcome to</small>
                </h2>
                <h1 class="brand-name">Just For You</h1>
                <hr class="tagline-divider">
                <h2>
                    <small>
                        <strong>Children's Center</strong>
                    </small>
                </h2>
                <div class="row">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                            data-target="#missionStatementModal">Mission Statement</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services">
        <div class="container box">

            <div class="page-header text-center" style="padding-bottom: 40px; color: #00afea">
                <h1><i class="fa fa-university fa-lg " aria-hidden="true"> Services </i></h1>
            </div>

            <div class="row text-center ">

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                            <a href="/static/jfy_pdf.pdf" target="_blank">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                    <h4 class="service-heading">Just For You Handbook</h4>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="{% url 'policies_procedures' %}">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                    <h4 class="service-heading">Policies & Procedures</h4>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="{% url 'faq' %}">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-question-circle fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                    <h4 class="service-heading">FAQ</h4>
                </div>

            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container box">

            <div class="page-header text-center" style="padding-bottom: 40px; color: #00afea">
                <h1><i class="fa fa-users fa-lg " aria-hidden="true"> Our Amazing Team</i></h1>
            </div>

            <div class="row">
                {% for s in staff %}

                    <div class="col-sm-4 text-center" data-toggle="modal" data-target="#{{ s.id }}">
                        <div class="team-member">
                            <img src="/static/images/staff_pics/{{ s.img }}" class="img-responsive img-circle center-block staff-image" alt="">
                            <h4>{{ s.name }}</h4>
                        </div>
                    </div>

                    <!-- Staff Modal -->
                    <div id="{{ s.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{ s.name }}</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="/static/images/staff_pics/{{ s.img }}" class="img-responsive img-rounded" alt="...">
                                    <p>
                                        {{ s.desc }}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {#Image Gallery#}
    <section>
        <div class="container box">

            <div class="page-header text-center" style="padding-bottom: 40px; color: #00afea">
                <h1><i class="fa fa-picture-o fa-lg " aria-hidden="true">Image Gallery</i></h1>
            </div>

            <div class="fotorama" data-nav="thumbs">
                    <img src="/static/images/new_pics/books.JPG">
                    <img src="/static/images/new_pics/jfy_rules.JPG">
                    <img src="/static/images/new_pics/2_3_play_room.JPG">
                    <img src="/static/images/new_pics/baby_room.JPG">
                    <img src="/static/images/new_pics/books.JPG">
                    <img src="/static/images/new_pics/circle_time.JPG">
                    <img src="/static/images/new_pics/garden.jpg">
                    <img src="/static/images/new_pics/jfy_babybook_nook.jpg">
                    <img src="/static/images/new_pics/jfy_curious.JPG">
                    <img src="/static/images/new_pics/jfy_curious2.JPG">
                    <img src="/static/images/new_pics/jfy_lunch.jpg">
                    <img src="/static/images/new_pics/jfy_outing.jpg">
                    <img src="/static/images/new_pics/jfy_sandbox.JPG">
                    <img src="/static/images/new_pics/jfy_sandbox_shelter.JPG">
                    <img src="/static/images/new_pics/jfy_sandbox_swing.JPG">
                    <img src="/static/images/new_pics/jfy_sandbox_swing2.JPG">
            </div>

        </div>
    </section>


        <!-- Map Section -->
    <section id="map" class="bg-light-gray">
        <div class="container box">

            <div class="page-header text-center" style="padding-bottom: 40px; color: #00afea">
                <h1><i class="fa fa-location-arrow fa-lg " aria-hidden="true">Just For You Headquarters</i></h1>
            </div>

            <div class="embed-responsive embed-responsive-4by3 col-lg-6">

                <iframe  class="embed-responsive-item" frameborder="0" scrolling="no" marginheight="0"
                        src="https://maps.google.com/maps?q=51 WATTS AVENUE CHARLOTTETOWN, PE C1E 2B7,
                        &t=&z=14&ie=UTF8&iwloc=&output=embed" marginwidth="0">

                    <a class="addmaps" href="http://www.map-embed.com/add-facebook-like-button/" id="get-map-data"
                       mce_href="http://maps.google.com/maps/api/js?sensor=false">map-embed.com
                    </a>
                </iframe>
            </div>

            <div class="well col-lg-4" style="margin-left: 50px; margin-right: 50px">
                <p style="color: #00afea">
                    <strong>Just For You Children’s Centre </strong><br>
                    Patti Larkin, Owner <br>
                    51 Watts Ave <br>
                    West Royalty Business Park <br>
                    Charlottetown, PE  C1E 2B7 <br>
                    (902) 629-1226 <br>
                    License # L418 <br>
                </p>
            </div>

{#            <div class="well">#}
{#                test#}
{#            </div>#}

        </div>
    </section>


    <!-- MODALS -->
    <div id="missionStatementModal" class="modal fade" >
        <!-- Mission Statement Modal -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mission Statement</h4>
            </div>
            <div class="modal-body">
                <p>
                    We, at Just For You Children's Centre, strive to provide an environment that nurtures and educates.
                    <br>Our wish is to provide a stimulating place where children are free to explore their creativity and individuality. Our goal is to foster independence and social and emotional grouth through a play based learning environment.
                    <br>   We support families by encouraging open communication through an open door policy.
                    <br>  We provide an environment rich in literature, giving plenty of exposure to pre-writing and reading skills.
                    <br>  Our program provides children with hands on experiences with opportunities to explore while learning with
                    <br> emphasis on early literacy, early numeracy, science, social studies and art.
                    <br> Our materials provide children with the opportunity to learn through play. These will stimulate and
                    challenge, help to develop perception and thinking skills as well as learn concepts and develop fin/gross
                    motor movements.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <!-- END MODALS -->

{% endblock content %}

<script>
    $('.carousel').carousel({
        interval: 5000, //changes the speed
        maxHeight: 500
    })
</script>


