{% extends 'base.html' %}

{% block title %}
     Policies & Procedures
{% endblock title %}


{% block styles %}
    {{ block.super }}
{% endblock styles %}


{% block scripts %}
{#    {{ block.super }}#}
{% endblock scripts %}

<body data-spy="scroll" data-target=".subnav" data-offset="50">


{% block header %}
{% endblock header %}


{% block menu %}
    {% include "tabs.html"  %}
{% endblock menu %}


{%  block content %}

    <div>
    <p>
        Policies & Procedures

Our program is open to children from infant to school age. We

are open Monday - Friday, 6:45am - 5:30pm all year round.

Late fees apply after 5:30pm @ $1.00 per minute paid to the

Early Childhood Educator waiting with your child.

It is recommended that children not be in care for more than 9

hrs per day.

Parents must sign children in and out every day. If there is an

emergency evacuation, we will take the sign in/out book when

leaving the centre. This will be an important tool to make sure all

children are accounted for and, in the case of other emergencies,

we will know by whom and at what time the child was picked up

and dropped off. As well as signing your child out, make sure an

educator is aware that you are leaving with your child.

If someone other than a parent is dropping off or picking up your

child, it is necessary for you to call and tell us whom and at what

time.

If another person is picking up your child and is not recognized

by the educator that is present, they will be asked to present

photo identification and will be required to sign your child out.

We encourage you to establish a routine pick-up as it helps the

children establish their daily routines. If you are going to be late,

NOTES

please call us so we can prepare your child for a later

departure.

Please call to tell us when your child will be absent; we wait

for each child’s arrival and are concerned when they do not

arrive.

Within the centre’s legal rights, children will not be released

into a situation in which the educator believes the child is in

danger. This includes release to persons suspected to be under

the influence of intoxicating substances, without the presence

of a sober driver or the lack of appropriate seating in a vehicle.

In the event of extreme circumstances in which a child is

placed in danger, the centre has a legal and ethical

responsibility to report persons to the appropriate authorities.
    </p>
    </div>
{% endblock content %}

